<div class="summary-cards" [class.shrink]="sidebarCollapsed">
  @for (card of cards; track card.title) {
    <article class="card" [attr.data-color]="card.color">
      <div class="card-header">
        <div class="icon" aria-hidden="true">
          <span class="material-symbols-rounded">{{ card.icon }}</span>
        </div>

        <div class="meta">
          <div class="title">{{ card.title }}</div>

          @if (card.change) {
            <div class="change">{{ card.change }}</div>
          }
        </div>
      </div>

      <div class="card-body">
        <div class="value">{{ card.value }}</div>

        <div class="percentage" [ngClass]="card.color">
          {{ card.percentage | number:'1.0-2' }}%
        </div>
      </div>
    </article>
  }
</div>
