@if(isLoading){
<app-loader></app-loader>
}@else{<div class="dashboard-page">
  <div class="dashboard-header">
    <p class="subtitle">Welcome to the</p>
    <h1>Dashboard</h1>
  </div>

  <!-- Summary Cards Section -->
  <section class="dashboard-section">
    <app-summary-cards></app-summary-cards>
  </section>


  <section class="dashboard-section-two">
    <button class="btn btn-style" (click)="onApplyForClick()">Apply For</button>
  </section>

  <section class="lic-section" *ngIf="showLicenceSection">
    <button class="lic-btn" (click)="selectLic('fertilizer')">Fertilizer Licence</button>
    <button class="lic-btn" (click)="selectLic('pest')">Pest Control (PPC) Licence</button>
    <button class="lic-btn" (click)="selectLic('seed')">Seed Licence</button>
  </section>
  <section *ngIf="showFertilizer">
    <div class="mid">

      <span class="service">Fertilizer Licence</span>
    </div>
    <div class="lic-section">

      <button class="lic-btn" (click)="selectApplicationType('wholesale')">For Wholesale Applicants</button>
      <button class="lic-btn" (click)="selectApplicationType('retail')">For Retail Applicants</button>
    </div>
  </section>
  <section *ngIf="wholesale">
    <div class="mid">

      <span class="service">Whole Sale Applicants</span>
    </div>
    <div class="lic-section">
      <button class="lic-btn" (click)="goToApp('wholesaleFertilizer', 'new')">New Application</button>
      <button class="lic-btn" (click)="goToApp('wholesaleFertilizer-renewal', 'renewal')">Renewal</button>
      <button class="lic-btn" (click)="goToApp('wholesaleFertilizer-amendment', 'amendment')">Amendment</button>
    </div>
  </section>
  <section *ngIf="retail">
    <div class="mid">

      <span class="service">Retail Applicants</span>
    </div>
    <div class="lic-section">
      <button class="lic-btn" (click)="goToApp('retailFertilizer', 'new')">New Application</button>
      <button class="lic-btn" (click)="goToApp('retailFertilizer-renewal', 'renewal')">Renewal</button>
      <button class="lic-btn" (click)="goToApp('retailFertilizer-amendment', 'amendment')">Amendment</button>
    </div>
  </section>


  <section *ngIf="showPest">
    <div class="mid">

      <span class="service">Pest Control (PPC) Licence</span>
    </div>
    <div class="lic-section">
      <button class="lic-btn" (click)="selectApplicationType('pestManufacture')">Grant of Licence to Manufacture
        Insecticide</button>
      <button class="lic-btn" (click)="selectApplicationType('pestSell')">Grant of Licence to
        Sell/Stock/Exhibit/Distribute </button>
      <button class="lic-btn" (click)="selectApplicationType('pestControl')">Grant of Licence for Commercial Pest
        Control
        Operations </button>
    </div>
  </section>
  <section *ngIf="pestManufacture">
    <div class="mid">

      <span class="service">Grant of Licence to Manufacture Insecticide</span>
    </div>
    <div class="lic-section">
      <button class="lic-btn" (click)="goToApp('pest-manufacture', 'new')">New Application</button>
      <button class="lic-btn" (click)="goToApp('pest-manufacture-renewal', 'renewal')">Renewal</button>
      <button class="lic-btn">Amendment</button>
    </div>
  </section>
  <section *ngIf="pestSell">
    <div class="mid">

      <span class="service">Grant of Licence to
        Sell/Stock/Exhibit/Distribute</span>
    </div>
    <div class="lic-section">
      <button class="lic-btn" (click)="goToApp('pest-sell', 'new')">New Application</button>
      <button class="lic-btn" (click)="goToApp('pest-sell-renewal', 'renewal')">Renewal</button>
      <button class="lic-btn">Amendment</button>
    </div>
  </section>
  <section *ngIf="pestControl">
    <div class="mid">

      <span class="service">Grant of Licence for Commercial Pest Control
        Operations</span>
    </div>
    <div class="lic-section">
      <button class="lic-btn" (click)="goToApp('pest-control', 'new')">New Application</button>
      <button class="lic-btn" (click)="goToApp('pest-control-renewal', 'renewal')">Renewal</button>
      <button class="lic-btn">Amendment</button>
    </div>
  </section>



  <section *ngIf="showSeed">
    <div class="mid">

      <span class="service">Seed Licence</span>
    </div>
    <div class="lic-section">

      <button class="lic-btn" (click)="goToApp('seed', 'new')">New Application</button>
      <button class="lic-btn" (click)="goToApp('seed-renewal', 'renewal')">Renewal</button>
      <button class="lic-btn" (click)="goToApp('seed-amendment', 'amendment')">Amendment</button>
    </div>
  </section>



  <!-- Charts Section -->
  <!-- <section class="dashboard-section charts-section">
    <div class="charts-grid">
      <div class="chart-item">
        <app-bar-chart></app-bar-chart>

      </div>
      <div class="chart-item">
        <app-pie-chart></app-pie-chart>
      </div>
    </div> 
   <app-line-chart [dashboardData]="dashboardData"></app-line-chart>
  </section> -->
  <!-- <section class="dashboard-section charts-section">
    <app-bar-chart></app-bar-chart>
  </section> -->
  <section class="dashboard-section charts-section">
    <div class="table-h">
      <h5 class="p-2 fw-bold"> Clarification Raised </h5>
      <hr>
      <div class="filter">
        <app-ilogi-select fieldLabel="Service" fieldId="clarificationService" [(ngModel)]="clarificationService"
          name="clarificationService" [selectOptions]="clarificationServiceOptions" placeholder="Select Service"
          [mandatory]="false" [readonly]="false">
        </app-ilogi-select>

        <app-ilogi-select fieldLabel="Application Number" fieldId="clarificationAppNumber"
          [(ngModel)]="clarificationAppNumber" name="clarificationAppNumber"
          [selectOptions]="clarificationAppNumberOptions" placeholder="Select Application" [mandatory]="false"
          [readonly]="false">
        </app-ilogi-select>
      </div>
      <app-dynamic-table [data]="filteredClarificationRequired" [columns]="columns" [searchable]="false"
        [showPagination]="true" [pageSize]="5"></app-dynamic-table>
    </div>
  </section>
  <section class="dashboard-section charts-section">
    <div class="filter ">
      <app-ilogi-select fieldLabel="Service " fieldId="service" [(ngModel)]="service" name="applicationType"
        [selectOptions]="serviceOptions" placeholder="Select Type" [mandatory]="false" [readonly]="false">
      </app-ilogi-select>
      <app-ilogi-select fieldLabel="Application Id" fieldId="applicationId" [(ngModel)]="applicationId"
        name="applicationType" [selectOptions]="applicationIdOptions" placeholder="Select Type" [mandatory]="false"
        [readonly]="false">
      </app-ilogi-select>
    </div>
    <div class="payments-container">
      <div class="section">
        <h2 class="section-title">Payments Pending (UNPAID)</h2>

        <div class="table-wrapper">
          <table class="payment-table">
            <thead>
              <tr>
                <th>
                  <!-- <input type="checkbox" [checked]="isAllSelected()"
                [disabled]="pendingPayments.length > 5 && maxSelectionReached && !isAllSelected()"
                (change)="toggleAllSelection()" /> -->
                  Select
                </th>
                <th>SL No</th>
                <th>Service Name</th>
                <th>Application Number</th>
                <th>Application Date</th>
                <th>Payment Type<br>(Application Fee Payment/Extra Payment Raised)</th>
                <th>Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payment of filteredPendingPayments">

                <td>
                  <input type="checkbox" [checked]="isSelected(payment.user_service_application_id)"
                    [disabled]="!isSelected(payment.user_service_application_id) && maxSelectionReached"
                    (change)="toggleSelection(payment.user_service_application_id)" />
                </td>
                <td>{{ payment.slNo }}</td>
                <td>{{ payment.serviceName }}</td>
                <td>{{ payment.applicationId }}</td>
                <td>{{ payment.applicationDate }}</td>
                <td>{{ payment.paymentType }}</td>
                <td>{{ payment.status }}</td>
                <td>₹{{ payment.amount }}</td>
              </tr>
              <!-- <tr *ngIf="paginatedPendingPayments.length === 0">
                <td colspan="8" class="no-data">No pending payments found.</td>
              </tr> -->
            </tbody>
          </table>
        </div>

        <div class="pagination-footer">
          <div class="pagination-controls">
            <div class="page-size-selector">
              <label>Show:</label>
              <select [value]="itemsPerPagePending" (change)="onPageSizeChangePending($event)">
                <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
              </select>
              <span>per page</span>
            </div>
          </div>
          <div class="pagination-info">
            Page {{ currentPagePending }} of {{ totalPagesPendingCalculated }}
          </div>
          <div class="pagination-controls">
            <button class="pagination-btn" [disabled]="currentPagePending === 1" (click)="prevPagePending()">
              &laquo; Previous
            </button>
            <button class="pagination-btn" [disabled]="currentPagePending === totalPagesPendingCalculated"
              (click)="nextPagePending()">
              Next &raquo;
            </button>
          </div>
        </div>

        <div class="footer-bar">
          <div class="total-amount">
            <strong>Total Amount Selected for Payment:</strong> ₹{{ totalSelectedAmount }}
          </div>
          <button class="pay-now-btn" [disabled]="selectedPayments.size === 0" (click)="payNow()">
            Pay Now
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
}